<div class="card border-left-danger shadow h-100 py-2">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Biggest Loss</div>

                {% if biggest_loss %}
                <a href="{{ url_for('cases.scav_case_detail', scav_case_id=biggest_loss.id) }}"
                   class="text-reset text-decoration-none"
                   data-kpi="worst-case-link">
                    <div class="h5 mb-0 font-weight-bold text-gray-800" data-kpi="worst-case-result">
                        ₽{{ "{:,}".format((biggest_loss._return - biggest_loss.cost) | int) }}
                    </div>
                    <div class="text-xs text-gray-500" data-kpi="worst-case-id">Case #{{ biggest_loss.id }}</div>
                </a>
                {% else %}
                <div class="h5 mb-0 font-weight-bold text-gray-800" data-kpi="worst-case-result">N/A</div>
                {% endif %}
            </div>
            <div class="col-auto">
                <i class="fas fa-tag fa-2x text-gray-300"></i>
            </div>
        </div>
    </div>
</div>