<div class="card border-left-danger shadow h-100 py-2">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Total Profit</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" data-kpi="total-profit">₽{{ "{:,}".format(total_profit | int) }}</div>
            </div>
            <div class="col-auto">
                {% if total_profit | int < 0 %}
                <i class="fas fa-dollar-sign fa-2x text-danger" data-kpi="profit-icon"></i>
                {% else %}
                <i class="fas fa-dollar-sign fa-2x text-success" data-kpi="profit-icon"></i>
                {% endif %}
            </div>
        </div>
    </div>
</div>
