<ul class="list-group" id="item-search-results">
  {% for item in items %}
  <li class="list-group-item d-flex align-items-center" 
      onclick="addItemToSelected('{{ item.tarkov_id }}', '{{ item.name | replace("'", "\\'") }}', 1, '{{ item | get_item_cdn_image_url }}')">
    <div class="d-flex align-items-center flex-grow-1 mr-3 overflow-hidden">

      <img
        src="{{ item | get_item_cdn_image_url }}"
        alt="{{ item.name }}"
        class="mr-3 flex-shrink-0"
        style="width: 56px; height: 56px; object-fit: contain;"
      >

      <div class="d-flex flex-column overflow-hidden">
        <span class="font-weight-bold text-truncate">
          {{ item.name }}
        </span>
        <span class="small text-muted">
          Click to add (quantity 1)
        </span>
      </div>

    </div>

    <!-- right -->
    <div class="flex-shrink-0">
      <span class="badge badge-pill badge-danger px-3">
        Add
      </span>
    </div>

  </li>
  {% endfor %}
</ul>