{% extends "layout.html" %}

{% block content %}
<div class="card shadow-sm border-0 mb-4">
    <div class="card-body py-3 px-4 d-flex justify-content-between align-items-center">
        <div>
            <h4 class="mb-0">
                Global Dashboard
            </h4>
        </div>
        <a href="{{ url_for('main.not_implemented') }}"
            class="btn btn-outline-danger btn-sm px-4 shadow-sm d-flex align-items-center">
            <i class="fas fa-download mr-2"></i>
            Export
        </a>
    </div>
</div>

<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">{% include "partials/kpis/_total_cases.html" %}</div>
    <div class="col-xl-3 col-md-6 mb-4">{% include "partials/kpis/_total_profit.html" %}</div>
    <div class="col-xl-3 col-md-6 mb-4">{% include "partials/kpis/_total_spent.html" %}</div>
    <div class="col-xl-3 col-md-6 mb-4">{% include "partials/kpis/_total_return.html" %}</div>
</div>

<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">{% include "partials/kpis/_most_common_item_type.html" %}</div>
    <div class="col-xl-3 col-md-6 mb-4">{% include "partials/kpis/_top_contributor.html" %}</div>
    <div class="col-xl-3 col-md-6 mb-4">{% include "partials/kpis/_most_profitable_case_type.html" %}</div>
    <div class="col-xl-3 col-md-6 mb-4">{% include "partials/kpis/_most_valuable_item.html" %}</div>
</div>


<div class="row">
    <div class="col-xl-8 col-lg-7">{% include('partials/graphs/_earnings_overview_chart.html') %}</div>
    <div class="col-xl-4 col-lg-5">{% include('partials/graphs/_case_distribution_chart.html') %}</div>
</div>

{% endblock content %}