<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        (function () {
          if (localStorage.getItem("darkMode") === "on") {
            document.documentElement.classList.add("dark");
          }
        })();
      </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <title>Scav Case Tracker</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
        type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- TODO: Pull locally -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gridstack@11.3.0/dist/gridstack.min.css">

    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/dark.css') }}" rel="stylesheet" type="text/css">

</head>

<body id="page-top">
    <div id="wrapper">
        {% include "partials/_sidebar.html" %}

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {% include "partials/_topbar.html" %}

                <div class="container-fluid">
                    <div class="col-md-12">
                        {% include "partials/_flash_messages.html" %}
                        {% block content %}{% endblock %}
                    </div>
                </div>

            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Scav Case Tracker &copy; 2026</span>
                    </div>
                </div>
            </footer>

        </div>

    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    {% include "partials/_logout_modal.html" %}

    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dark-mode.js') }}"></script>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    <script src="{{ url_for('static', filename='js/htmx-csrf-config.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.umd.js" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <!-- TODO: Pull locally -->
    <script src="https://cdn.jsdelivr.net/npm/gridstack@11.3.0/dist/gridstack-all.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.2.4/fabric.min.js"></script>
</body>

</html>
