{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h2 class="mb-3">Welcome to the market section</h2>

    <button type="button" class="btn btn-outline-danger mb-3" data-toggle="modal" data-target="#trackItemModal">
        Track New Item
    </button>


    <div class="row">
        {% for item in current_user.tracked_items %}
        <div class="col-12 mb-2"> 
            <div class="card shadow-sm border-0">
                <div class="row g-0 align-items-center">
                    <div class="col-2 d-flex justify-content-center align-items-center p-2">
                        <img src="{{ url_for('static', filename='items/' + item | item_image) }}" 
                             class="img-fluid rounded" alt="{{ item.name }}" style="max-height: 60px;">
                    </div>
                    
                    <div class="col-3">
                        <div class="card-body p-2"> 
                            <h6 class="card-title mb-0">{{ item.name }}</h6> 
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="card-body p-2"> 
                            <!-- Placeholder for 7 day change -->
                            <h6 class="font-weight-bold text-success card-title mb-0">^52.4%</h6> 
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="card-body p-2"> 
                            <!-- Placeholder for 1 day change -->
                            <h6 class="font-weight-bold text-success card-title mb-0">^12.4%</h6> 
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="card-body p-2">
                            <h6 class="card-title mb-0">    
                                <span hx-get="/market/get-price/{{ item.tarkov_id }}"
                                    hx-trigger="load"
                                    hx-swap="outerHTML"
                                    hx-headers='{"X-Requested-With": "XMLHttpRequest"}'
                                    hx-credentials="include">
                                <i>Price Loading...</i>
                            </span>
                            </h6>
                        </div>
                    </div>

                    <div class="col-1 text-end">
                        <button class="text-danger btn"
                                hx-delete="/market/untrack-item/{{ item.tarkov_id }}"
                                hx-trigger="click"
                                hx-swap="outerHTML"
                                hx-headers='{"X-Requested-With": "XMLHttpRequest"}'
                                hx-credentials="include"
                                hx-on::after-request="location.reload();">
                            <i class="fa-regular fa-trash-can"></i>    
                        </button>

                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- add item modal -->
<div class="modal fade" id="trackItemModal" tabindex="-1" role="dialog" aria-labelledby="trackItemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="trackItemModalLabel">Track a New Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input name="q" type="text" class="form-control" id="item-search" placeholder="Search items..."
                       hx-get="/market/search-items" hx-trigger="keyup changed delay:250ms"
                       hx-target="#item-results" autocomplete="off">
                
                <div id="item-results" class="list-group mt-2">

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}