{% extends "layout.html" %}

{% block content %}
<div class="card shadow-sm p-3 mb-4">
    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <h2 class="mr-2 mb-0 text-dark fs-2">
                Scav Case <span class="text-muted">#{{ scav_case.id }}</span>
            </h2>
            <a href="{{ url_for('cases.update_scav_case', scav_case_id=scav_case.id) }}" class="ml-2 ms-2 text-danger" title="Edit ScavCase">
                <i class="fa-regular fa-pen-to-square fa-md"></i>
            </a>
            <a href="#" class="ml-3 ms-2 text-danger" title="Delete ScavCase" data-toggle="modal" data-target="#deleteConfirmationModal">
                <i class="fa-regular fa-trash-can fa-md"></i>
            </a>                
        </div>
        
        <h5>
            <span class="badge px-4 py-3 fs-3 
                {% if scav_case.type == '₽2500' %}badge-soft-warning
                {% elif scav_case.type == '₽15000' %}badge-soft-danger
                {% elif scav_case.type == '₽95000' %}badge-soft-success
                {% elif scav_case.type == 'Moonshine' %}badge-soft-primary
                {% elif scav_case.type == 'Intelligence' %}badge-soft-info
                {% else %}badge-soft-secondary
                {% endif %}">
                {{ scav_case.type }}
            </span>
        </h5>
    </div>
    <hr>
    <div class="d-flex align-items-center justify-content-between mt-1">
        <p class="mb-0 fs-5"><strong>Cost:</strong> ₽{{ "{:,}".format(scav_case.cost | int) }}</p>
        <p class="mb-0 fs-5"><strong>Return:</strong> ₽{{ "{:,}".format(scav_case._return | int) }}</p>
        <p class="mb-0 fs-5"><strong>Submitted:</strong> {{ scav_case.created_at | timeago }}</p>
        
        <div class="d-flex align-items-center">
            {% if scav_case._return - scav_case.cost < 0 %}
                <i class="fa-solid fa-chevron-down text-danger fs-3 me-2"></i>
                <h3 class="mb-0 text-danger fs-2">₽{{ "{:,}".format((scav_case._return - scav_case.cost) | int) }}</h3>
            {% else %}
                <i class="fa-solid fa-chevron-up text-success fs-3 me-2"></i>
                <h3 class="mb-0 text-success fs-2">₽{{ "{:,}".format((scav_case._return - scav_case.cost) | int) }}</h3>
            {% endif %}
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-5">
        <div class="list-group shadow-sm" id="list-tab" role="tablist">
            {% for item in scav_case.items %}
            <a class="p-3 list-group-item list-group-item-action d-flex align-items-center {% if loop.first %}active{% endif %}"
                id="list-{{ item.tarkov_id }}-list"
                data-toggle="list" href="#list-{{ item.tarkov_id }}"
                role="tab" aria-controls="{{ item.name }}"
                style="padding: 10px 15px;">
                
                <img class="rounded flex-shrink-0" width="28" height="28"
                    src="{{ item.tarkov_item.category | get_category_cdn_image_url }}"
                    style="margin-right: 12px;">
            
                <span class="text-truncate flex-grow-1" style="min-width: 0; font-size: 16px;">
                    {{ item.name }}
                    {% if item.amount > 1 %}
                        <span class="text-muted">(x{{ item.amount }})</span>
                    {% endif %}
                </span>
            
                <span class="badge badge-soft-danger text-nowrap ms-auto" style="font-size: 14px; padding: 6px 10px;">
                    ₽{{ "{:,}".format((item.price * item.amount) | int) }}
                </span>
            </a>
        
            {% endfor %}
        </div>                
    </div>

    <div class="col-md-7">
        <div class="tab-content h-100" id="nav-tabContent">
            {% for item in scav_case.items %}
                <div class="tab-pane fade {% if loop.first %} show active {% endif %}" id="list-{{ item.tarkov_id }}" role="tabpanel"
                    aria-labelledby="list-{{ item.tarkov_id }}-list">
                    
                    <div class="card shadow-sm p-3 h-100 d-flex flex-column">
                        <h3 class="mb-3 fs-2">{{ item.name }}</h3>
                        <div class="row flex-grow-1">
                            <div class="col-md-4">
                                <p class="fs-5"><strong>Item Category:</strong> {{ item.tarkov_item.category }}</p>
                                <p class="fs-5"><strong>Amount:</strong> {{ item.amount }}</p>
                                <p class="fs-5"><strong>Price (per item):</strong> ₽{{ "{:,}".format(item.price | int) }}</p> 
                                <p class="fs-5"><strong>Total Price:</strong> ₽{{ "{:,}".format((item.price | int) * (item.amount)) }}</p>
                            </div>
                            <div class="col-md-8 text-center align-self-center">
                                <img class="img-fluid rounded"
                                    style="max-height: 150px; object-fit: contain;"
                                    src="{{ item | get_item_cdn_image_url }}">
                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this Scav Case entry? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                <a href="{{ url_for('cases.delete_scav_case', scav_case_id=scav_case.id) }}" class="btn btn-outline-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
